<!-- <%- include('./layouts/header.ejs') %> -->

    <main role="main" class="container">
      <br /><br />
      <div class="row">
        <div class="col-md-8">
          <img
            src="http://via.placeholder.com/900x400"
            alt=""
            class="img-responsive"
            width="100%"
          />
          <br />
        </div> <div class="col">
          <input type="text" class="form-control mb-3" placeholder="Search">
          <button class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-8">
          <span class="main-article-category">Article Category</span>
          <br />
          <span class="main-article-category"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae eos dolores molestiae molestias commodi iste ducimus
            eius sint qui? Quisquam quia adipisci voluptate laborum consequatur.
            Veniam officiis non accusantium quidem expedita, maxime dicta eius
            porro officia cum omnis impedit corporis minima suscipit blanditiis
            tempora facere culpa provident laborum quas necessitatibus? Rerum
            esse, vero ex qui repudiandae, nemo amet non quas molestiae,
            reprehenderit ipsum ratione numquam deleniti vel aliquam omnis quasi
            ab laboriosam minus. Harum minima, provident similique voluptatibus
            explicabo ad assumenda quo quas eum. Consectetur ducimus veniam
            porro nemo eveniet velit, tempora inventore consequatur est expedita
            numquam iure qui ab.</span
          >
          <br />
        </div>
      </div>
    </main>
   
<!-- <%- include('./layouts/footer.ejs') %> -->
